* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffffff7;
    /*display: flex;
    justify-content: center;*/
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    margin-top: 30px;
    margin-left: 40%;
    font-size: 65px;
  }
h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: left;
    color: #0098ef;
}

/* Cabecera */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 960px;
    margin: 0 auto;
}

.header .logo img {
    height: 50px;
}

.nav ul {
    list-style-type: none;
    display: flex;
}

.nav ul li {
    margin-right: 20px;
}

.nav ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

.nav ul li a:hover {
    color: #00cf95;
    text-decoration: underline;
}

/* principal */
.main-container {
    width: 960px;
    margin: 20px auto;
    /*border: solid red;*/
}

/* Footer */
.footer {
    border-top: 2px solid #00cf95;
    padding: 20px;
    width: 960px;
    margin: 20px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 10px;
}

.footer-column {
    display: flex;
    align-items: center;
}

.footer .logo img {
    height: 50px;
}

.footer .center-text {
    text-align: center;
    font-size: 24px;
    color: #00cf95;
}
.footer .nav {
    display: flex;
    justify-content: center;
}
.footer .nav ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 10px;
}
.footer .nav ul li a:hover {
    color: #00cf95;
    text-decoration: underline;
}

.footer .social-icons {
    font-size: 24px;
    margin-left: auto;
}

.footer .social-icons i {
    margin-right: 10px;
    color: #333;
}

.footer .social-icons i:hover {
    color: #00cf95;
}