* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffffff7;
    /*display: flex;
    justify-content: center;*/
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    margin-top: 30px;
    margin-left: 40%;
    font-size: 65px;
  }
h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: left;
    color: #0098ef;
}

/* Cabecera */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 960px;
    margin: 0 auto; 
}

.header .logo img {
    height: 50px; 
}

.nav ul {
    list-style-type: none;
    display: flex;
}

.nav ul li {
    margin-right: 20px;
}

.nav ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

.nav ul li a:hover {
    color: #00cf95;
    text-decoration: underline;
}

/* principal */
.main-container {
    width: 960px;
    margin: 20px auto;
    /*border: solid red;*/
}

/*About*/

.text-about{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    text-align: left;
    color: #333;
}

h3{
    font-weight: 700;
    font-size: 16px;
}

.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 20px 0 20px;
}
.text-column {
    flex: 1;
    padding: 20px;
    width: 429px;
}
.title {
    font-size: 30px;
    margin: 20px 0 10px;
    font-weight: 700;
}
.subtitle {
    font-size: 38px;
    color: #1fcf90;
    margin: 0 0 20px;
    font-weight: 700;
}
.description {
    font-size: 1em;
    color: #333;
    margin-bottom: 20px;
    display: flex;
}

.description p{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    width: 351px;
}

.rectangulo{
    height: 104px;
    width: 10px;
    margin-right: 10px;
    background-color: #80E7CA;
}

.download-cv {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7a00ff;
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px;
}
.image-column {
    flex: 1;
    text-align: center;
}
.profile-pic {
    width: 326px;
    height: 326px;
    border-radius: 50%;
    border: 5px solid #b6ff8f;
    margin-top: 20px;
}
.social-column {
    padding-top: 0;
}
.social-icons img {
    display: flex;
    justify-content: flex-start; /* Align icons to the start */
}

.fa-linkedin{
    color: #0098ef;
}

.fa-whatsapp{
    color: green;
}

.down-arrow {
    font-size: 2em;
    color: #1fcf90;
    text-align: center;
}

/*Services*/
.services .container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services .mini-container {
    width: calc(50% - 10px);
    height: 100px;
    background-color: #00cf95;
    margin-bottom: 20px;
    position: relative;
    border: 3px solid #d1ffa2;
    border-radius: 5px;
}
.services .mini-container span {
    position: absolute;
    bottom: 10px;
    right: 0;
    background-color: #d1ffa2;
    padding: 5px 10px;
    border-radius: 5px 0 0 5px;
    color: #5a0cb0;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.services .mini-container:hover,
.services .mini-container:hover span {
    border: 3px solid #5a0cb0;
    color: white;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
}

.services .mini-container:hover span {
    background-color: #5a0cb0;
}

.services .mini-container:nth-child(odd) {
    margin-right: 10px;
}

.services .mini-container i {
    font-size: 150%;
    /*font-size: 25px;*/
    position: absolute;
    top: 10px;
    left: 10px;
    color: white; 
}


/* Contacto */

.contact-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 600px;
    margin: 0 auto;
}

.contact-formulario .fila {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}
.contact-formulario textarea {
    width: 100%;
    height: 100px;
}
.contact-formulario input,
.contact-formulario select {
    width: 48%;
    height: 50px;
}

.contact-formulario input,
.contact-formulario textarea,
.contact-formulario select
 {
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
    border: 2px solid #b1b1b1;
    color: #878787;
 }

 .contact-formulario input[type="text"]{
    border: 2px solid #5a0cb0;
}

.contact-formulario input[type="tel"]{
    border: 2px solid #00cf95;
}

.contact-formulario button {
    width: 150px;
    padding: 10px;
    margin-top: 10px;
    background-color: #6d0ad3;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}

.contact-formulario button:hover {
    background-color: #50128e;
}

/* Footer */
.footer {
    border-top: 2px solid #00cf95;
    padding: 20px;
    width: 960px;
    margin: 20px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 10px;
}

.footer-column {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.footer .logo img {
    height: 50px;
}

.footer .center-text {
    text-align: center;
    font-size: 24px;
    color: #00cf95;
}
.footer .nav {
    display: flex;
    justify-content: center;
}
.footer .nav ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 10px;
}
.footer .nav ul li a:hover {
    color: #00cf95;
    text-decoration: underline;
}

.footer .social-icons {
    font-size: 24px;
    margin-left: auto;
}

.text-column .social-icons i{
    font-size: 20px;
    margin: 5px;
}

.text-column .social-icons .fa-linkedin{
    margin: 0 5px 0 20px ;
}

.footer .social-icons i {
    margin-right: 10px;
    color: #333;
}

.footer .social-icons i:hover {
    color: #00cf95;
}